/*font*/
 @import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

/*general*/
body {
	font-family: 'Roboto', sans-serif;
	color: #fafafa;
	background-color: #212121;
	font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 110%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #fafafa;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

p {
	margin: 8px 0;
}

a {
	color: #fafafa;
}

a:hover {
	color: #fafafa;
}

a.link-color {
	color: #ff4081;
}

a.link-color:hover {
	color: #ff4081;
}

.segments {
	padding: 15px 0 10px;
}

.segments-page {
	padding: 10px 0 25px;
}

.section-title {
	margin-bottom: 14px;
}

.section-title h3 {
	font-size: 18px;
}

.pages-title {
	padding-bottom: 15px;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 10px;
}

.pages-title h3 {
	text-transform: uppercase;
	font-size: 18px;
}

.pages-title .line {
	width: 26px;
	height: 2px;
	background: #ff4081;
	margin: 0 auto;
	margin-top: 0px;
	margin-top: 8px;
}

.section-title .line {
	background-color: #ff4081;
	width: 30px;
	height: 2px;
	margin-top: 3px;
}

.text-bold {
	font-weight: bold;
	font-size: 14px;
}

.date {
	color: #888;
	font-size: 13px;
	margin-top: 5px;
}
/*button default*/
.button {
	background-color: #ff4081;
	color: #fff;
	border: 0;
	padding: 7px 16px;
	border-radius: 2px;
	cursor: pointer;
	font-size: 13px;
}
.button:focus , .button-full:focus{
	background-color: #ff4081;
	color: #000;
}
.close:focus{
	outline: none;
}

.button-full {
	width: 100%;
	background-color: #ff4081;
	color: #fff;
	border: 0;
	padding: 7px 16px;
	border-radius: 2px;
	cursor: pointer;
	font-size: 13px;
}


.button i, .button-full i {
	margin-right: 6px;
}
/* bottom navbar */
.bottom-navbar {
	padding: 15px 0 10px;
	box-shadow: 0 0 6px rgba(3, 3, 3, 0.85);
	background-color: #212121;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
}

.bottom-navbar .row {
	margin-bottom: 0;
	width: 100%;
}

/*navbar*/
.navbar {
	padding: 15px 0 10px;
	box-shadow: 0 0 6px rgba(3, 3, 3, 0.85);
	background-color: #212121;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
}

.navbar .content-center {
	text-align: center;
}

.navbar .content-center h1 {
	font-size: 24px;
	padding: 0;
	margin: 0;
	font-weight: 900;
	letter-spacing: 1px;
}

.navbar .content-center h1 span {
	color: #ff4081;
}

.navbar .content-right {
	text-align: right;
}

.navbar .row {
	margin-bottom: 0;
	width: 100%;
}


/*slide*/
.slide {
	height: 230px;
	margin-bottom: 15px;
	margin-top: 50px;
}

.slide .slide-content {
	height: 230px;
	background: #fff;
}

.slide .slide-content .mask {
	background-color: rgba(0,0,0,0.25);	
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.slide .slide-content .mask2 {
	background-color: rgba(0,0,0,0.42);	
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.slide .slide-content img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slide .slide-content .caption {	
	position: absolute;
	top: 24%;
	margin: 0 auto;
	left: 0;
	right: 0;
	padding: 15px
}

.slide .slide-content .text-center {
	text-align: center;
}

.slide .slide-content .caption h2 {
	font-size: 22px;
}

.slide .slide-content .caption h2,
.slide .slide-content .caption p {
	color: #fff;
}

.slide .slide-content .caption button {
	padding: 3px 8px;
	font-size: 12px;
	margin-top: 5px;
}

.slide .owl-theme .owl-nav.disabled + .owl-dots {
	position: relative;
	top: -35px;
	margin-bottom: -36px;
}

.slide .owl-theme .owl-dots .owl-dot span {
	width: 7px;
	height: 7px;
	background-color: #fff;
}

.slide .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background-color: #ff4081;
}


/*card*/
.card .card-content {
	padding: 13px 15px;
	background-color: #262626;
	border-radius: 0;
}

.card .card-content h5 {
	margin-bottom: 8px;
}

.card .card-content i {
	font-size: 17px;
	cursor: pointer;
}

.card .card-reveal {
	padding: 13px 15px;
	background-color: #262626;
}

.card .card-reveal .grey-text.text-darken-4 {
	color: #fafafa !important;
}

.card .card-title {
	font-size: 16px;
}

.card .card-reveal i {
	font-size: 17px;
	position: relative;
	top: 0;
	color: #fafafa;
}


/*table*/
.table-contents {
	background: #262626;
	padding: 0 15px 15px;
}

.table-contents thead {
	border-color: #424242;
}


/* OUR EDITING */
.card{
	background-color: #000;
}
.content-left h1 span {
	color: #ff4081;
}
.close{
	color: #ff4081;
}
.search-box{
	display: none;
}
.pointer{
	cursor: pointer;
}
.search-box .search-input{

	border: 1px solid #ff4081;
	margin: 0 !important;
	width: 100%;
}
.srch-pad{
	padding-right: 0 !important;
}
.search-input:focus{
	border-bottom: 1px solid #ff4081 !important;
	box-shadow: none !important;
}
.menu-title{
	font-weight: bolder;
	color: #ff4081;
}
.src-div{
	padding-right: 0 !important;
}
.category-title{
	text-transform: uppercase;
	padding: 0 5px;
}
.down-icon{
	float: right;
}
.rm-border td,.rm-border th{
	border: 0 !important;
}
table{
	font-size: 15px;
}
/* table tr:nth-child(odd){
	background-color: azure;
}
table tr:nth-child(even){
	background-color: gray;
} */
table th{
	color: #fff;
}
.item-name{
	font-weight: bolder;
	color: #ff4081;
	text-transform: capitalize;
}
.item-price{
	font-weight: bolder;
	float: right;
	color: #fff;
}